/* TODO: Include font*/
html {
    // overflow: hidden;
    // height: 110vh;
}

body {
	overscroll-behavior: none;

	font-family: 'Open Sans', sans-serif;
	min-height: 110vh;
    // height: 100%;
    overflow: auto;

	h1 {
		color: #999;
	}
}

.sr {
	display: none;
}

header {
	/*display: none; */
	position: fixed;
	top: 0;
	right: 0;
	z-index: 500;

	.nav-hamburger {
		position: absolute;
		top: .5em;
		right: .5em;
		font-size: 2rem;
		width: 1em;
		height: 1em;
		color: #ffffff;
		background-color: #000000;
		cursor: pointer;
		z-index: 501;
	}

	nav {
		display: none; 
		// display: flex;
		position: fixed;
		top: 0;
		left: 0;
		height: 100vh;
		width: 100vw;
		background-color: rgba(255,255,255,0.95);

		justify-content: space-around;
		align-items: center;
		flex-direction: column;

		&.visible {
			display: flex;
			transition: 1s easeInOut;
		}

		.close {
			position: absolute;
			top: 1em;
			right: 1em;
			color: #000000;
			font-size: 2rem;
			cursor: pointer;
		}

		ul {
			display: flex;
			justify-content: space-around;
			align-items: center;
			flex-direction: column;

			list-style: none;
			padding: 0;
			margin: 0;

			li {
				font-size: 3rem;
				line-height: 2em;

				a {
					text-decoration: none;
					color: #000000;
					text-shadow: 0 5px 8px rgba(0,0,0,0.25);
				}

			}
		}
	}
}

section.intro {
	height: 100vh;
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
	z-index: 100;
	overflow: hidden;

	.bg {
		border: 1px solid red;
		position: fixed;
		top: 0;
		left: 0;
		margin-top: -5vh;
		margin-left: -5vw;
		width: 110vw;
		height: 110vh;
		background-image: url('/imgs/hero.jpg');
		background-size: cover;
		background-position: top center;
		z-index: 99;
	}

	h1 {
		font-size: 4rem;
		color: #ffffff;
		font-weight: normal;
		width: 16em;
		max-width: 80vw;
		text-shadow: 1px 5px 10px rgba(0,0,0,0.5);
		z-index: 101;

		a {
			color: orange;
			text-decoration: none;
		}
	}

	a.introBtn {
		position: absolute;
		bottom: 1em;
		left: 50%;
		color: #ffffff;
		text-decoration: none;
		z-index: 101;
	}
}

nav {
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;

	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: stretch;

	pointer-events: none;

	z-index: 2;

	a {
		display: flex;
		flex: 1;
		position: relative;
		overflow-x: hidden;

		width: 100%;
		height: 100%;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;

		pointer-events: auto;

		&.design {
			background-image: url('/imgs/BL9NruAgfOY.jpg');
		}

		&.dev {
			background-image: url('/imgs/tumblr_nhdfwyMrPL1sxm4gzo10_1280.jpg');
		}

		&.about {
			background-image: url('/imgs/tumblr_nc6e88JZP11rnmn4zo1_1280.jpg');
		}

		// &::after {
		// 	content: ' ';
		// 	position: absolute;
		// 	top: 0;
		// 	left: 0;
		// 	width: 100%;
		// 	height: 100%;
		// 	display: block;
		// 	background-color: #000000;			
		// }

		// TODO: try to convert .shutters to &::after pseudo element
		.shutters {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: block;
			background-color: #000000;
		}

		&.active {
			opacity: 0;
			pointer-events: none;

			&.hide {
				// opacity: 0;
			}

			a.section-link {
				display: none;
			}

			// TODO: make this fade in?
			// .contents .pane {
			// 	display: block;
			// 	opacity: 1;
			// 	transition: 1s opacity ease-in-out;
			// }

		}
	}
}

.contents {
	text-align: center;

	.pane {
		display: none;

		opacity: 0;

		&.active {
			display: block; 
			// width: calc(100vw * (30/32));
			max-width: 100%;

			opacity: 1;
			-webkit-transition: opacity 1s ease-in-out;
	        -moz-transition: opacity 1s ease-in-out;
	        -ms-transition: opacity 1s ease-in-out;
	        -o-transition: opacity 1s ease-in-out;
			transition: opacity 1s ease-in-out;
			// width: 100%;
		}
		&.active:nth-of-type(1) {
			padding-right: calc(100vw * (2/32) / 1.02);
		}
		&.active:nth-of-type(2) {
			padding-left: calc(100vw * (1/32) / 1.02);
			padding-right: calc(100vw * (1/32) / 1.02);
		}
		&.active:nth-of-type(3) {
			padding-left: calc(100vw * (2/32) / 1.02);
		}

		&#design .feature {
			background-image: url('/imgs/BL9NruAgfOY.jpg');
		}

		&#dev .feature {
			background-image: url('/imgs/tumblr_nhdfwyMrPL1sxm4gzo10_1280.jpg');
		}
		&#dev h1 {
			text-transform: lowercase;
		}

		&#about .feature {
			background-image: url('/imgs/tumblr_nc6e88JZP11rnmn4zo1_1280.jpg');
		}

		.feature {
			position: relative;
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
			height: 100vh;
			max-width: 100%;

			margin-bottom: -15vh;
			overflow-x: hidden;


			h1 {
				position: absolute;
				bottom: 15vh;
				left: .5em;
				width: 100%;

				text-align: left;

				// height: 4em;
				// line-height: 2em;
				color: #ffffff;
				font-size: 4rem;
				line-height: 1.5em;
				font-weight: normal;
				// background-color: #ffffff;
				margin: 0;
				// padding-bottom: -10vh;

				&::before {
					content: '/';
					color: orange;
					font-weight: bold;
				}
				// transform: translate(0, -4em);
				// &::after {
				// 	content: ' ';
				// 	position: absolute;
				// 	bottom: -4em;
				// 	left: 0;
				// 	background-color: #ffffff;
				// 	height: 4em;
				// 	width: 100%;
				// }
			}
		}

		.details {
			background-color: #fff;
			// margin-top: 15vh;

			&::before {
				content: ' ';
				background-color: #ffffff;
				height: 5vh;
				width: 100%;
				display: block;
				position: relative;
			}
		}
	}
}

body.showContents {
	.contents {
		// display: block;

		// .pane.active {
		// 	// display: block;
		// 	flex: 30;
		// }
	}
}


// section.design {
// 	// .contents {
// 		background-image: url('/imgs/BL9NruAgfOY.jpg');
// 	// }
// }

// section.dev {
// 	// .contents {
// 		background-image: url('/imgs/tumblr_nhdfwyMrPL1sxm4gzo10_1280.jpg');
// 	// }
// }

// section.about {
// 	// .contents {
// 		background-image: url('/imgs/tumblr_nc6e88JZP11rnmn4zo1_1280.jpg');
// 	// }
// }